<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsl.nature.common.db.mapper.DynamicDataCommonMapper">

    <select id="exeSQL" parameterType="java.lang.String">
        ${exeSql}
    </select>

    <select id="queryObjs" parameterType="com.lsl.nature.common.db.mapper.condition.DynamicQueryFilter"
            resultType="java.util.LinkedHashMap">
        SELECT
        <include refid="selector_sql"/>
        FROM ${filter.tableName}
        WHERE 1=1
        <include refid="com.example.mybatis.mapper.Condition.all_conditions_sql"/>
    </select>

    <select id="queryObj" parameterType="com.lsl.nature.common.db.mapper.condition.DynamicQueryFilter"
            resultType="java.util.LinkedHashMap">
        SELECT
        <include refid="selector_sql"/>
        FROM ${filter.tableName}
        WHERE 1=1
        <include refid="com.example.mybatis.mapper.Condition.all_conditions_sql"/>
    </select>

    <sql id="selector_sql">
        <if test="filter.selector != null">
            ${filter.selector}
        </if>

        <if test="filter.selector == null">
            *
        </if>
    </sql>


    <insert id="insert" parameterType="com.lsl.nature.common.db.mapper.condition.DynamicDataInserter">
        insert into ${inserter.tableName}
        <foreach collection="inserter.fields" item="fieldName" open="(" separator="," close=")">
            ${fieldName}
        </foreach>
        values
        <foreach collection="inserter.values" item="value" open="(" separator="," close=")">
            #{value}
        </foreach>

    </insert>

    <update id="update">
        update ${updater.tableName}
        set
        <foreach collection="updater.fields" item="field" separator=",">
            ${field.name} = #{field.value}
        </foreach>
        WHERE 1=1
        <include refid="com.example.mybatis.mapper.Condition.all_conditions_sql"/>
    </update>


    <select id="delete" parameterType="com.lsl.nature.common.db.mapper.condition.DynamicQueryFilter">
        DELETE FROM ${filter.tableName}
        WHERE 1=1
        <include refid="com.example.mybatis.mapper.Condition.all_conditions_sql"/>
    </select>

</mapper>